<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlD"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ControlD">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Add intent filter for Steam authentication callback -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="controld" android:pathPrefix="/auth/steam/callback" />
            </intent-filter>
        </activity>
        
        <!-- Add Steam authentication activity -->
        <activity
            android:name=".SteamAuthActivity"
            android:exported="true"
            android:theme="@style/Theme.ControlD">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="controld" android:pathPrefix="/auth/steam/callback" />
            </intent-filter>
        </activity>

        <!-- Add Steam test activity -->
        <activity
            android:name=".SteamTestActivity"
            android:exported="true"
            android:label="Steam Test"
            android:theme="@style/Theme.ControlD" />
            
        <!-- Add List activity -->
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:label="List Details"
            android:theme="@style/Theme.ControlD" />

        <activity android:name=".ReviewsActivity" />
        <activity android:name=".LikesActivity" />
        <activity android:name=".GamesActivity" />
        <activity android:name=".FollowingActivity" />
        <activity android:name=".FollowersActivity" />
        <activity android:name=".StatsActivity" />

    </application>

</manifest>